*{
   margin: 0; 
}
div{
    width: 70vw;
    margin: auto;
}
.conten{
    margin-top: 5%;
}
h1{
    color: red;
    border: 3px solid brown ;
}
h2{
    color: blue;
    border:  1px dashed blue ;
}
p{
    border: 1px solid blue;
    padding: 10px;
}
img{
    border: 1px solid black;
    margin: 30px 50px 30px 0px;
} 
#paragraf{
    font-family: Arial, Helvetica, sans-serif;
}
.lorem{
    font-size: 30px;
}
.warna{
    background: cornflowerblue;
}
.bentuk{
    font-style: italic;
}
.huruf-tebal{
    font-style: initial;
}
a{
    text-decoration: none;
}
ul{
    font-family: Arial, Helvetica, sans-serif;
    background: darkorange;
    list-style: none;
    margin: 0;
    padding-left: 0;
}
ul li {
    color: white;
    background: darkorange;
    display: inline-block;
    border: 1px blue;
    padding: 10px;
    position: relative;
    text-decoration: none;
}
li a{
    color: wheat;
}
ul li:hover{
    background: red;
    cursor: pointer;
}
ul li ul{
    background: orange;
    visibility: hidden;
    position: absolute;
    margin-top:  0.5rem;
    left: 0;
    display: none;
}
ul li:hover > ul, 
ul li ul:hover {
    visibility: visible;
    display: block;
}
ul li ul li{
    clear: both;
    width: 100%;
}
@media only screen and (max-width :600px) {
    body {
        background: darksalmon;
        font-family: 'Courier New', Courier, monospace;
    }
}
